@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;

}

@theme {
  --color-primary: #000000;
  --color-primary-100: #979797;
  --color-primary-200: #F2F2F2;
  --color-secondary-100: #F9F4EA;
  --color-secondary-200: #E19D1A;
  --color-secondary-300: #FAFAFA;
  --color-rating: #DE9200;

  --font-helvetica-neue: "Helvetica Neue";
  --color-white: #FFFFFF;

  --spacing-page-inline: 20px;
  --spacing-page-inline-md: 130px;
  --spacing-section-homepage: 32px;
  --spacing-section-homepage-md: 48px;


  --shadow-header: 2px 4px 10px 0px #AFAFAF40;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-helvetica-neue);
}

@layer base {
  body {
    @apply bg-[var(--background)] text-[var(--foreground)] font-sans text-base leading-6;
  }

  h1 {
    @apply text-[24px]/[32px] font-[200] tracking-[1.97px] text-primary;
  }

  h2 {
    @apply text-[16px]/[24px] font-[200] tracking-[1.25px] uppercase text-primary;
  }

  h3 {
    @apply text-[24px]/[47px] font-[400] tracking-[2.67px] text-primary;
  }


  @media (min-width: 768px) {
    h1 {
      font-size: 32px;
      line-height: 40px;
    }

    h2 {
      font-size: 30px;
      line-height: 35px;
      letter-spacing: 1.25px;
      text-align: center;
    }

    h3 {
      font-size: 40px;
      line-height: 47px;
    }
  }
}



@layer components {
  .text-header {
    @apply text-[18px] font-extralight text-primary;
  }

  .text-footer {
    @apply text-[18px]/[28px] font-[200] tracking-[2.14px] text-primary;
  }

  .text-nav-links {
    @apply text-[18px] font-[200] tracking-[1.92px] text-primary;
  }

  .text-card {
    @apply text-[16px]/[20px] font-[200] tracking-[1.97px] capitalize text-primary md:text-[24px]/[30px];
  }

  .text-icon-button-logo {
    @apply text-[27px] font-[200] tracking-[1.35px] text-primary uppercase;
  }

  .text-section-title {
    @apply text-[18px]/[24px] font-[200] uppercase tracking-[1.25px] text-primary md:text-[30px]/[35px];
  }

  .text-button {
    @apply text-[16px]/[35px] font-[400] tracking-[2px] capitalize text-primary md:text-[24px]/[35px];
  }

  .text-input {
    @apply text-[12px] font-[200] tracking-[1.29px] text-primary md:text-[24px];
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}