@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;

}

@theme {
  --color-primary: #000000;
  --color-primary-100: #979797;
  --color-secondary-100: #F9F4EA;
  --color-secondary-200: #E19D1A;
  --color-secondary-300: #FAFAFA;
  --color-rating: #DE9200;

  --font-helvetica-neue: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-helvetica-neue);
}

@layer base {
  body {
    @apply bg-[var(--background)] text-[var(--foreground)] font-sans text-base leading-6;
  }

  h1 {
    @apply text-[24px] font-thin text-primary;
  }

  h2 {
    @apply text-[16px]/[20px] font-[200] tracking-[1.97px] text-primary;
  }

  h3 {
    @apply text-[18px] font-[400] text-primary tracking-[2.67px];
  }

  h4 {
    @apply text-[18px] font-extralight text-primary;
  }

  p {
    @apply text-base text-[16px] font-[200] text-primary tracking-[1.97px];
  }
}

@layer components {
  .text-header {
    @apply text-[18px] font-extralight text-primary;
  }

  .text-body {
    @apply text-base text-[16px] font-thin text-primary;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}